body {
    background-color: black;
}

#grid-container {
    display: grid;
    grid-template-columns: 1fr 20fr 1fr;
}

#letters {
    text-align: center;
}

.letter {
    display: inline-block;
    padding: 8px;
}

.letter-background {
    background-image: url("covers/grating_rainbows.jpg");
    background-size: cover;
    background-position: center;
}

.letter-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 160px;
    height: 240px;
}

.white-block {
    /* clear */
}

.black-block {
    background-color: black;
}